<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>GARP Global Association of Risk Professionals</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="node.js, express, mongoose, mongodb, angularjs, swig">
    <meta name="description" content="GARP Global Association of Risk Management">

    <link href="website/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <meta property="fb:app_id" content="APP_ID">
    <meta property="og:title" content="GARP Global Association of Risk Management">
    <meta property="og:description" content="GARP Global Association of Risk Management">
    <meta property="og:type" content="website">
    <meta property="og:url" content="APP_URL">
    <meta property="og:image" content="APP_LOGO">
    <meta property="og:site_name" content="GARP Global Association of Risk Management">
    <meta property="fb:admins" content="APP_ADMIN">

    <link rel="stylesheet" href="website/lib/bootstrap/dist/css/bootstrap.garp.css">
    <link rel="stylesheet" href="website/css/common.css">
    <link rel="stylesheet" href="website/css/main.css">
    <base href="/">
    <link rel="stylesheet" href="website/css/views/articles.css">

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
